@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --primary-color: #e28080;
  --primary-hover-color: #8d2f2f;
  --dark-color: #172b35;
  --secondary-color: #a58888;
  --light-color: #f19090;
}

html, body {
  margin: 0;
  padding:0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}